@font-face {
  font-family: "Opsilon";
  src: url("Opsilon-xRj8m.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yarndings+20&display=swap');

:root {
  --font-logo: "Opsilon";
  --font-sub: ;
  --font-main: "Nunito", sans-serif;

  --font-size-base: clamp(1rem, 4vw, 20px);
  --font-size-logo: clamp(3rem, 12vw, 120px);
  --line-height: 1.6;
  --text-align: center;

  --color-header-footer: #de2865;
  --color-main: #f9f8f6;
  --color-logo: #151515;
  --color-text: #191919;

  --img-size: 300px;
  --logo-img: 800px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-logo);
  font-size: var(--font-size-logo);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  text-align: var(--text-align);
  color: var(--color-text);
  background: var(--color-main);
}

footer {
  position: sticky;
  bottom: 0;
}

/* JOURNAL */

.journal-wrapper {
  position: relative;
  display: inline-block;
}

.journal-wrapper img {
  display: block;
  width: var(--logo-img);
  border-radius: 3%;
}

.journal-wrapper h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* perfectly center */
  font-family: var(--font-logo);
  pointer-events: none;
}

.pagecontent {
  padding: 7%;
}

.journal-wrapper {
  position: relative;
  display: inline-block;
}

/* BOOKMARKS */

.bookmarks {
  position: absolute;
  top: 10%;
  right: -130px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: 15px;
}

.bookmarks a {
  display: block;
  color: white;
  padding: 10px 6px;
  font-family: var(--font-main);
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  transform: rotate(90deg);
  transform-origin: left top;
  white-space: nowrap;
  font-weight: bold;
  width: 100%;
}

.bookmark-top {
  position: absolute;
  top: -25px;
  right: 30px;
}

.bookmark-top a {
  display: block;
  background: #eaacb7;
  color: white;
  padding: 6px 15px 1px;
  text-decoration: none;
  font-family: var(--font-main);
  border-radius: 5px 5px 0 0;
  font-size: 15px;
}